body {
  background: url('blue_back.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.login {
  background: rgba(15,14,14,0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  width: 300px;
  height: max-content;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  color: rgb(28, 28, 212);
  font-weight: 800;
  font-size: xx-large;
}

.polev {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgba(0,0,0,0.63);
  box-shadow: 0 0 15px rgba(255,255,255,0.2);
  color: white;
}



.prapam {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: medium;
  margin-bottom: 15px;
}

#regist {
  color: rgb(28, 28, 212);
  cursor: pointer;
  text-decoration: none;
}

#forgp {
  color: rgb(77, 75, 75)
}

#knopkaVhoda {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(28, 28,212);
  color: black;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}